{% extends 'layouts/base.html' %}

{% block title %} List API KEYS {% endblock title %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Link Details</h1>
    </div>
    {% if msg %}
    <div class="alert alert-warning" role="alert">
        Delete {{ msg }} successfully!
      </div>
    {% endif %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Url name</th>
                            <th>Descriptions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for ls in links %}
                    <tbody>
                        <tr>
                            <td>{{ ls.url_name }}</td>
                            <td>{{ ls.url_desc }}</td>
                            <td>
                                <form action="" method="post">
                                <input type="hidden" value="{{ ls.url_name }}" name="delete">
                                <a class="btn btn-outline-primary" href="{{ ls.url_str }}" target="_blank">Open</a>
                                <button type="submit" name="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                    {%  endfor %}
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}