{% extends 'layouts/base.html' %}

{% block title %} {% for i in name%} {{i.name}} {% endfor %} {% endblock title %}

{% block content %}

<!-- Detail -->
<div class="container-fluid">

    <!-- Page Heading -->
    <form action="" method="post">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{% for i in name %} {{i.name}} {% endfor %}</h1>
            <button hidden name="refresh"></button>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
            </div>
    </form>

    <!-- Content Row -->
    <div class="row">

        <!-- Ads Total -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-auto-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-primary text-uppercase mb-2">FACEBOOK ADS TOTAL !!</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count|length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-facebook-square fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ads Running -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="text-xl font-weight-bold text-success text-uppercase mb-2">
                            Active</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bolt fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ads Stop -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-danger text-uppercase mb-2">
                            Paused</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stop fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-secondary text-uppercase mb-2">
                            No active</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stop fa-2x text-gray-500"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Detail -->
{% include "home/tables.html" %}

{% endblock content %}