<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Working</h1>
    <p class="mb-4">รายละเอียด <a target="_blank"
            href="#">Link</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">การทำงานของระบบ Facebook ADS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ชื่อแคมเปญ(โฆษณา)</th>
                            <th>สถานะการทำงาน</th>
                            <th>งบประมาณ</th>
                            <th>ผลลัพธ์</th>
                            <th>การเข้าถึง</th>
                            <th>ต้นทุนผลลัพธ์</th>
                            <th>จำนวนค่าใช้จ่ายที่ใช้ไป</th>
                            <th>CTR(ทั้งหมด)</th>
                            <th>คลิกไม่ซ้ำ</th>
                            <th>เวลาอัพเดท</th>
                        </tr>
                    </thead>
                    {% for i in name %}
                    <tbody>
                        <tr>
                            <td>{{i.name}}</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                            <td>ยังไม่มีข้อมูล</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>