<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Working</h1>
    <button type="submit" name="submit" class="mb-3 mr-auto btn btn-outline-primary">แคมเปญ</button>
    <button type="submit" name="submit" class="mb-3 mr-auto btn btn-outline-primary">ชุดโฆษณา</button>
    <button type="submit" name="submit" class="mb-3 mr-auto btn btn-outline-primary">โฆษณา</button>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">การทำงานของระบบ Facebook ADS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ชื่อแคมเปญ(โฆษณา)</th>
                            <th>สถานะแคมเปญ</th>
                            <th>เวลาอัพเดท</th>
                        </tr>
                    </thead>
                    {% for a in api %}
                    <tbody>
                        <tr>
                            <td>{{ a['account_name'] }}</td>
                            <td>{{ a['status'][0]['status'] }}</td>
                            <td>{{ date }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>